@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  color: #180821;
}

.red-logo {
  border: #b01850;
  background: #b01850;
}

.bg-pie:hover {
  background: #ffb100;
}

@media (min-width: 768px) {
  .md\:bg-pie-no-hover {
    background-color: #ffb100;
  }
}

.logo-float {
  animation: float 4s ease-in-out infinite both;
}
@keyframes float {
  0% {
    transform: translateY(5%);
  }

  50% {
    transform: translateY(15%);
  }

  100% {
    transform: translateY(5%);
  }
}

/* SCROLL BODY */
body {
  overflow: scroll;
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  transition: 1s;
}
body::-webkit-scrollbar {
  width: 12px;
  background: rgb(222, 219, 219);
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #000000;
}

@media (max-width: 640px) {
  .nav-grid-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .nav-grid-column {
    grid-template-columns: 20% 20% 60%;
  }
}

.module-border-wrap {
  max-width: 370px;
  position: relative;
  background: linear-gradient(to right, #feb200, #f12064);
  padding: 4px;
}

.module-border-wrap-newsletter {
  width: auto;
  position: relative;
  background: linear-gradient(to right, #feb200, #f12064);
  padding: 4px;
}

.module {
  height: 100%;
  background: rgb(255, 255, 255);
  padding: 2rem;
}

.grid-newsletter {
  display: grid;
  grid-template-columns: 60% 40%;
}

.module-newsletter {
  height: 100%;
  background: rgb(255, 255, 255);
  padding: 1rem;
}

@media (min-width: 768px) {
  .grid-newsletter {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .module-newsletter {
    height: 100%;
    background: rgb(255, 255, 255);
    padding: 3rem;
  }
}

.from-redpie-500 {
  --tw-gradient-from: #b01850;
  --tw-gradient-to: rgb(236 72 153 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-pie-500 {
  --tw-gradient-to: #ffb100;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  animation: flash 2s ease-in-out infinite both;
}
.module-border-wrap-event {
  width: 370px;
  position: relative;
  background: black;
  padding: 4px;
}
